/* .container {
    color: red; 
    position: absolute;
    background-image: url("../../../../../images/fondo nanoshop_it.jpeg");
} */
/* .title{
    color: red;
}
.image{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
} */