.carritoContainer{
    background-color: red;
}

.carrito{
    display: none;
    padding: 30px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 530px;
    background-color: white;
    color: black;
    border: 2px solid rgba(150,150,150,.06)

}

.carrito img{
    aspect-ratio: 4/4;
    width: 25%;
}

.carrito footer {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.carrito footer button {
    padding: 8px;
}

.carritoBoton{
    align-items: center;
    background: white;
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    padding: 4px;
    position: absolute;
    right: 4px;
    top: 13%;
    transition: all .3s ease;
    width: 32px;
    z-index: 99999;
}

.carritoBoton:hover {
    scale: 1.1;
}

.carritoBoton ~ input:checked ~ .carrito {
    height: 100%;
    display: block;
}
