.navBar{
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;   
}

.upNavbar{
  display: flex; 
  align-items: center;         
  border: 1px solid #ccc;      
  background-color: white;
  height: 10vh;
}

.divLogo{
  margin-left: 6vh;
  flex-grow: 1;
}

.divLogo img{
  width: 10vh;  
}

.uldivUp{
  margin-right: 6vh;
  margin-top: 1.5vh;
}

.ulU {
  display: flex;
  align-items: center;
  margin-right: 5vh;
  flex-shrink: 0; /* Impide que los divs se reduzcan en tamaño */
}

.linksUp{
  display: inline;
  font-size: 1.8vh;
  padding: 4%;
  color: black;
  text-decoration: none;
  font-weight: 800;
  margin: 1vh;
}

.linksUp:hover {
  cursor: pointer;
  color: gray;
}

.searchBarDiv{     
  flex-shrink: 0; 
  margin-left: 10px;
}

.downNavbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6vh;
  background-color: black;
}

.dropDown {
  position: relative;
  margin: 2vh;
  margin-left: 1rem;
  width: 14vh;

}

.linksDown{  
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2vh;
  color: white;
  background-color: black;
  font-weight: 800;

}

.dropDown > .link:focus,
.link:hover {
  color: black;
}

.dropDown-menuOFF {  
  position: absolute;
  border-radius: .25rem;
  opacity: 0;
  pointer-events: none;
  transition: 1s ease-in-out;
}

.dropDown-menuON {
  position: absolute;
  background-color: black;
  border-radius: .5rem;
  opacity: 1;
  pointer-events: auto;
  transition: 0.3s ease-in;

}

.ulLinks{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: max-content;
  margin-top: 3vh;
  padding-left: 1rem;
  padding-right: 2vh;
}

.linksToProduct {
  text-decoration: none;
  color: white;
  font-size: 2vh;
  font-weight: 800;
}

.linksToProduct:hover {
  color: gray;
  transition: 0.5s;
}

.burguer{
  display: none;
  position: absolute;
  left: 0;
  margin-left: 6vh;
}

.ulLinksOffCanvas {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: max-content;
  padding-left: 1rem;
  padding-right: 2vh;
  
}

@media (max-width: 1000px){
  .burguer{
    display: block;
  }
  .dropDown{
    display: none;
  }  
}

@media (max-width: 768px){
  .uldivUp{
    display: none;
  } 
  .divLogo{    
    flex-grow: 1;
    margin-left: 45%;
  }

  .divLogo img{
    width: 15vh;  
  }
  
  .linksToProduct {
    font-size: 3vh;
    color: white;
  }
}


